<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpc.dao.UserMapper">

    <select id="getUserList" resultType="com.wpc.entity.User">
        select * from user
    </select>

    <insert id="addUserByMap">
        insert into user (id, name, pwd) values (#{id},#{usernmae},#{password});
    </insert>
</mapper>