<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--以下配置详情请见官网-->
<configuration>
    <!--    1、配置外部db配置文件-->
    <properties resource="db.properties"></properties>
    <!--    2、设置mybatis的运行行为-->
    <settings>
        <!--        自动映射-->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <!--        驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--        日志框架-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--        3、配置别名，分为配置一个类或者一个包,当然也可以使用@Alias("aliasName")注解来定义别名，用在类上面-->
    <typeAliases>
        <package name="com.wpc"/>
    </typeAliases>
    <!--    4、配置连接环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="username" value="${db.userName}"/>
                <property name="password" value="${db.password}"/>
                <property name="url" value="${db.url}"/>
                <property name="driver" value="${db.driver}"/>
            </dataSource>
        </environment>
    </environments>
    <!--    5、添加映射文件，可以使用mapper关联resource/url/class或者直接使用package-->
    <mappers>
        <mapper resource="mybatis/UserMapper.xml"></mapper>
        <mapper resource="mybatis/ClassMapper.xml"></mapper>
    </mappers>

</configuration>